# Arquivos do Java / Maven (para o 'backend')
/backend/target/
/backend/pom.xml.tag
/backend/pom.xml.releaseBackup
/backend/pom.xml.versionsBackup
/backend/pom.xml.next
/backend/release.properties
/backend/dependency-reduced-pom.xml
/backend/buildNumber.properties
/backend/.mvn/timing.properties
/backend/*.log
/backend/.idea/
/backend/*.iml

# Arquivos do Node / React (para o 'frontend')
/frontend/node_modules/
/frontend/build/
/frontend/.pnp
/frontend/.pnp.js
/frontend/coverage/
/frontend/.DS_Store
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
